.content h1, .content h2, .content h3{
    margin-bottom:30px;
    font-weight:normal;
    color:#1F2B49;
}
.site-jornada-unica .content h1{
    font-size:30px;
    padding-left:10px;
}
.site-jornada-unica .content h2{
    font-size:26px;
}
.site-jornada-unica .content h3{
    font-size:22px;
    padding-left:14px;
}
.site-jornada-unica .content h4{
    color:#1F2B49;
}
.site-jornada-unica .content p{
    margin:0 15px 20px 15px!important;
}
.site-jornada-unica .content .callout{
    margin:30px 10px 10px 10px;
    display:inline-block;
}
.site-jornada-unica .content .callout p{
    color: #767679;
    padding: 5px 5px 15px 5px;
    font-size: 23px;
    border-top: 1px solid #B8B9BD;
    border-bottom: 1px solid #B8B9BD;
    text-align: center;
    line-height: 29px;
}
.site-jornada-unica .content .callout p span{
    font-size:36px;
    line-height: 29px;
    color: #767679;
}
.site-jornada-unica .content .section-content-ju ul li{
    list-style: initial;
}
.site-jornada-unica .content .section-content-ju ul{
    margin:0 60px 20px 60px!important;
}
.site-jornada-unica .content .table-responsive{
    width:90%;
    margin:auto;
}
.site-jornada-unica .content p .amplification{

}
/****tablas****/
.site-jornada-unica .content .table-responsive > thead > tr > th, .site-jornada-unica .content .table-responsive > tbody > tr > th,.site-jornada-unica .content .table-responsive > tfoot > tr > th,.site-jornada-unica .content .table-responsive > thead > tr > td,.site-jornada-unica .content .table-responsive > tbody > tr > td,.site-jornada-unica .content .table-responsive > tfoot > tr > td {
    border:none;
}
.site-jornada-unica .content table>thead{
    background: rgba(222, 222, 222,1);
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}
.site-jornada-unica .content table>thead>tr>th{
    background: rgb(188,188,188);
    background: -moz-linear-gradient(top,  rgba(47,64,117,1) 1%,rgba(13,33,88,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(47,64,117,1) 1%,rgba(13,33,88,1) 100%);
    background: linear-gradient(to bottom,  rgba(47,64,117,1) 1%,rgba(13,33,88,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#dedede',GradientType=0 );
}
.site-jornada-unica .content table>thead>tr>th:first-child{color:rgba(255,255,255,0);}
.site-jornada-unica .content table thead th a, table thead th a:hover,
.site-jornada-unica .content table thead th, .site-jornada-unica .content table thead th:hover {
    text-decoration: none;
    color:white;
    text-shadow: none;
}
.site-jornada-unica .content table>thead>tr>th:first-child{border-radius: 10px 0px 0px 0px;-moz-border-radius: 10px 0px 0px 0px;-webkit-border-radius: 10px 0px 0px 0px;}
.site-jornada-unica .content table>thead>tr>th:last-child{border-radius: 0px 10px 0px 0px;-moz-border-radius:  0px 10px 0px 0px;-webkit-border-radius:  0px 10px 0px 0px;}
.site-jornada-unica .content .table-responsive{border: 0px solid rgba(110,114,118,1);}
.site-jornada-unica .content .table-responsive > thead > tr > th,.site-jornada-unica .content .table-responsive > thead > tr > td{border-right: 1px solid rgba(110,114,118,0.2);}
.site-jornada-unica .content .table-responsive > tbody > tr > th,.site-jornada-unica .content .table-responsive > tfoot > tr > th,.site-jornada-unica .content .table-responsive > tbody > tr > td,.site-jornada-unica .content .table-responsive > tfoot > tr > td {
    border-right: 1px solid rgba(110,114,118,0.2);
}
.site-jornada-unica .content .table-responsive > thead > tr > th:first-child,.site-jornada-unica .content .table-responsive > thead > tr > td:first-child{color:#ffffff;}
.site-jornada-unica .content .table-responsive > tbody > tr > th:first-child,.site-jornada-unica .content .table-responsive > tfoot > tr > th:first-child, .content .table-responsive > tbody > tr > td:first-child, .content .table-responsive > tfoot > tr > td:first-child {
    border-left: none;
    text-align: left;
}
.site-jornada-unica .content .table-responsive > tbody > tr > th:last-child,.site-jornada-unica .content .table-responsive > tfoot > tr > th:last-child, .site-jornada-unica .content .table-responsive > tbody > tr > td:last-child, .site-jornada-unica .content .table-responsive > tfoot > tr > td:last-child,.site-jornada-unica .content .table-responsive > thead > tr > th:last-child, .table-responsive > thead > tr > td:last-child {
    text-align: left;
    border-right: none;
}
.site-jornada-unica .content .table-responsive tbody tr:nth-child(odd){
    background: #f0f2f6;
}
.site-jornada-unica .content .table-responsive tbody tr:nth-child(even){
    background: #f8f9fb;
}
.site-jornada-unica .content .table-responsive tbody tr:hover{
    background: #EB9FA7;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}
.site-jornada-unica .content .table-responsive tbody tr:hover th, .table-responsive tbody tr:hover td{
    color:#ffffff;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}
.site-jornada-unica .content .table-responsive tbody tr{
    border-bottom: none;
}
.site-jornada-unica .content .table-responsive thead tr:last-child{
    background: #243268;
    border-bottom: solid 1px rgba(110,114,118,0.5);
}
.site-jornada-unica .content .table-responsive tbody tr td:last-child{
    min-width:100px;
}
.site-jornada-unica .content .table-responsive td > input {
    background: #535d87;
    border: 1px solid #04143b;
}
.site-jornada-unica .content .table-responsive td > a {
    color: #243268;
    display: inline-block;
}
.site-jornada-unica .content .table-responsive table tr th{
    text-shadow:none;
}
.site-jornada-unica .content tfoot tr td:last-child {border-right: none;}
.site-jornada-unica .content thead th{padding:4px 3px 4px 3px;}
.site-jornada-unica .content tbody td{padding:2px 3px 2px 3px;}
.site-jornada-unica .content tfoot td{padding:3px 3px 3px 3px;}

.site-jornada-unica .content .faq-accordion .views-row > div {
    border: 1px solid #909090;
    border-radius: 0;
}

.site-jornada-unica .content .faq-accordion .views-row > div:first-child {
    background: #eff1f5;
}

.site-jornada-unica .content .faq-accordion .views-row .ui-accordion-header {
    margin-top: 0;
}

.site-jornada-unica .content .faq-accordion .views-row > div:first-child a {
    text-align: left;
}

.site-jornada-unica .content .faq-accordion .views-row .ui-state-active {
    font-weight: 700;
}

.site-jornada-unica .content .faq-accordion .views-row .ui-state-default {
    font-weight: 500;
}

.site-jornada-unica .content .faq-accordion .views-row > div:first-child span {
    color: #122747;
}

.site-jornada-unica .content .faq-accordion .views-row .ui-accordion-content-active {
    padding: 20px 20px 0 !important;
}

.site-jornada-unica .content .faq-accordion .views-row {
    margin-bottom: -2px;
}

.site-jornada-unica .content .faq-accordion .views-row-last {
    margin-bottom: 0;
}

.site-jornada-unica .content .pager li > a {
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: white;
    font-weight: bold;
    color: black;
}

.site-jornada-unica .content .pager .pager-current {
    background-color: white;
    color: red;
    width: 40px;
}

.site-jornada-unica .content .pager .pager-first a,
.site-jornada-unica .content .pager .pager-previous a,
.site-jornada-unica .content .pager .pager-next a,
.site-jornada-unica .content .pager .pager-last a {
    background: url(../images/pager-spritesheet.png);
}

.site-jornada-unica .content .pager .pager-first a {
    background-position: 3px -20px;
}

.site-jornada-unica .content .pager .pager-previous a {
    background-position: 3px 3px;
}

.site-jornada-unica .content .pager .pager-next a {
    background-position: -20px 3px;
}

.site-jornada-unica .content .pager .pager-last a {
    background-position: -21px -20px;
}

.pager-previous + .pager-item:before, .pager-item + .pager-current:before,
.pager-current + .pager-item:before, .pager-item + .pager-item:before,
.pager-item + .pager-next:before {
    content: " | ";
    color: black;
    font-weight: bold;
}

.pager-item + .pager-current:before {
    padding-right: 7px;
}

.site-jornada-unica .content .btn-pdf-file {
    background: #ededed;
    border: 1px solid #818181;
}

.site-jornada-unica .content .btn-pdf-file:hover {
    background: #cdced0;
}

.site-jornada-unica .content .btn-page-link label,
.site-jornada-unica .content .btn-pdf-file label {
    font-size: 20px;
    font-weight: 500;
}

.site-jornada-unica .content .btn-pdf-file label {
    color: #818181;
    padding-top: 3px;
}

.site-jornada-unica .content .pdf-file-icon {
    background: url(../images/pdf-icons.png);
    height: 36px;
    width: 28px;
    display: block;
    float: right;
}

.site-jornada-unica .content .btn-page-link {
    background: #ee0029;
    border: 1px solid #c00025;
    white-space: pre-line;
}

.site-jornada-unica .content .btn-page-link:hover {
    background: #122747;
}

.site-jornada-unica .content .btn-page-link label {
    white-space: pre-line;
    color: white;
}

.site-jornada-unica .content .modal-content {
    border-color: #3A66A3;
}

.site-jornada-unica .content .modal-content .table-responsive {
    width: 100%;
    margin: auto;
}

.site-jornada-unica .content .modal-content .title-modal span{
    background: url(../edu-unica/images/marker.png);
    width: 24px;
    height: 32px;
    display: inline-block;
    margin: -9px 5px;
    margin-left: 0px;
}

.site-jornada-unica .content .modal-content .title-modal{
    color: #B61024;
    font-weight: bold;
}  

.site-jornada-unica .content .modal-content .modal-header {
    padding: 0px;
    border-bottom: 0px solid #e5e5e5;
}

.site-jornada-unica .content .modal-content .modal-header button.close {
    -webkit-appearance: none;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.site-jornada-unica .content .modal-content .modal-header .close {
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #B61024;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.8;
}

@media (min-width: 768px){
    .site-jornada-unica .content .modal-dialog {
        width: 600px;
        margin: 15% auto;
    }
}